<a href="https://colab.research.google.com/github/Justmove08/Control-tasks/blob/master/%D0%9A%D0%BE%D0%BD%D1%82%D1%80%D0%BE%D0%BB%D1%8C%D0%BD%D0%B0%D1%8F_%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%B0_%E2%84%961.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Задание № 1
Попросите пользователя ввести его имя и сохраните введенные данные в переменной name.

Попросите пользователя ввести его фамилию и сохраните введенные данные в переменной surname.

Попросите пользователя ввести его возраст и сохраните введенные данные в переменной age.

Выведите на экран следующую строку:
"Новый пользователь: Иванов И. Возраст: 32"

Вместо Иванов И. и 32 должна быть информация, введенная пользователем.
(Обратите внимание! Если пользователь ввел имя Иван, то в результате должно быть напечатано И.)

Баллы за задание: 3

In [0]:
name = input('Введите ваше имя: ')
surname = input('Введите вашу фамилию: ')
age = input('Введите ваш возраст: ')
n = list(name)
print('Новый пользователь:', surname, n[0] + '.', 'Возраст:',age)

Введите ваше имя: Никита
Введите вашу фамилию: Назаров
Введите ваш возраст: 29
Новый пользователь: Назаров Н. Возраст: 29

In [0]:
# Дополнительное решение. Если необходимо было выводить кавычки
name = input('Введите ваше имя: ')
surname = input('Введите вашу фамилию: ')
age = input('Введите ваш возраст: ')
n = list(name)
print('"Новый пользователь:', surname, n[0] + '.', 'Возраст:',age + '"')

Введите ваше имя: Никита
Введите вашу фамилию: Назаров
Введите ваш возраст: 29
"Новый пользователь: Назаров Н. Возраст: 29"

Задание № 2
Попросите пользователя ввести два целых числа через пробел (второе должно быть больше первого).

Проверьте введенные пользователем данные. Если данные были введены некорректно (второе число меньше или равно первому), то выведите на экран фразу "К сожалению, ничего не получится".

Если данные были введены верно, то создаете массив из последовательности чисел от первого введенного пользователем числа до второго.

Выведите на экран количество элементов в сформированном массиве.

Выведите на экран количество четных элементов массива.

Выведите на экран количество нечетных элементов массива.

Баллы за задание: 5

In [0]:
import numpy as np

a = input('Введите первое целое число: ')
b = input('Введите второе целое число (оно должно быть больше первого): ')

try:
    a = int(a)
    b = int(b)
    if b <= a:
        print('К сожалению ничего не получится')
except:
    print('К сожалению ничего не получится')
try: # добавление конструкции, чтобы не вылезали ошибки в консоли, если a и b строковые данные
    if b > a: # добавление конструкции, чтобы код не выполнялся, если a и b равны друг другу и при этом не являются строковыми данными
        my_array = np.array(list(range(a,(b + 1))))
        z = 0
        x = 0
        for i in my_array:
            if i % 2 > 0:
                z += 1
            else:
                x += 1
        print('Количество элементов в массиве:', my_array.size)
        print('Количество четных элементов в массиве:', x)
        print('Количество нечетных элементов в массиве:', z)
        print('\n(Для проверки задания) Сформированный массив:', my_array)
except:
    a = 0 # выражение, добавленное для завершения кода без ошибок в консоли

Введите первое целое число: 1
Введите второе целое число (оно должно быть больше первого): 10
Количество элементов в массиве: 10
Количество четных элементов в массиве: 5
Количество нечетных элементов в массиве: 5

(Для проверки задания) Сформированный массив: [ 1  2  3  4  5  6  7  8  9 10]

Задание № 3

Создайте словарь со следующей структурой:

ключ - название страны

значение - список, содержащий цвета государственного флага

Пример: {'Россия' : ['красный', 'синий', 'белый']}

Словарь должен содержать не менее 10 стран.

Создайте цикл с условием, с помощью которого выведите фразу: "Введите цвет для поиска или введите "выход" для завершения работы".

Обработайте введенные пользователем данные и выведите на экран все страны, флаги которых содержат введенный цвет.

Работа с пользователем должна продолжаться до тех пор, пока он не введёт слово "выход".

Баллы за задание: 8

In [0]:
flag_colors = {
    'Россия':['белый','синий','красный'],
    'Румыния':['синий','желтый','красный'],
    'Болгария':['белый','зеленый','красный'],
    'Великобритания':['синий','белый','красный'],
    'Венгрия':['красный','белый','зеленый'],
    'Германия':['черный','красный','желтый'],
    'Ирландия':['зеленый','белый','оранжевый'],
    'Италия':['зеленый','белый','красный'],
    'Литва':['желтый','зеленый','красный'],
    'Нидерланды':['красный','белый','синий'],
}
color = input('Введите цвет для поиска или введите "выход" для завершения работы: ')
while color != 'выход':
    country_list = list(flag_colors.keys())
    w = '  '
    for i in country_list:
        for x in flag_colors[i]:
            if color == x:
                w = i + ' ' + w
    print('Страны, флаги которых содержат введенный цвет:', w)
    color = input('Введите цвет для поиска или введите "выход" для завершения работы: ')

Введите цвет для поиска или введите "выход" для завершения работы: синий
Страны, флаги которых содержат введенный цвет: Нидерланды Великобритания Румыния Россия
Введите цвет для поиска или введите "выход" для завершения работы: красный
Страны, флаги которых содержат введенный цвет: Нидерланды Литва Италия Германия Венгрия Великобритания Болгария Румыния Россия
Введите цвет для поиска или введите "выход" для завершения работы: выход

Задание № 4

Создайте двумерный массив размерностью 8 на 8 с любыми значениями.

Измените массив в соответствии со следующими условиями:

В первой строке должны быть целые числа от 1 до 8: 1 2 3 4 5 6 7 8

Во второй строке чередующаяся последовательность 0 и 1: 0 1 0 1 0 1 0 1

В третьей строке убывающая последовательность с шагом 3, начиная со 100: 100 97 94 91 88 85 82 79

В четвертой строке степень двойки, начиная с 0: 1 2 4 8 16 32 64 128

В пятой строке последовательность от 1 до 8, где нечетные цифры отрицательные: -1 2 -3 4 -5 6 -7 8

В шестой строке первые 4 числа 8, вторые четыре числа -8: 8 8 8 8 -8 -8 -8 -8

В седьмой строке все нули: 0 0 0 0 0 0 0 0

В восьмой строке квадрат чисел от 1 до 8: 1 4 9 16 25 36 49 64

Баллы за задание: 12

In [0]:
import numpy as np
# Создание двумерного массива размерностью 8 на 8 с любыми значениями.
my_array = np.random.randint(1,10,(8,8))

# Переменные, необходимые для решения задачи
a = 0
b = 0
c = 103
d = 0
e = 0
f = 0
g = 0
h = 0
i = 0
j = 0
k = 0
l = 0

# 1. В первой строке должны быть целые числа от 1 до 8: 1 2 3 4 5 6 7 8
for z in my_array[0]:
    a += 1
    my_array[0][a - 1] = a

# 2. Во второй строке чередующаяся последовательность 0 и 1: 0 1 0 1 0 1 0 1
for y in my_array[1]:
    if y % 2 > 0:
        my_array[1][b] = 1
        b += 1
    else:
        my_array[1][b] = 0
        b += 1

# 3. В третьей строке убывающая последовательность с шагом 3, начиная со 100: 100 97 94 91 88 85 82 79
for x in my_array[2]:
    c = c - 3
    my_array[2][d] = c
    d += 1

# 4. В четвертой строке степень двойки, начиная с 0: 1 2 4 8 16 32 64 128
for w in my_array[3]:
    f = 2 ** e
    my_array[3][e] = f
    e += 1

# 5. В пятой строке последовательность от 1 до 8, где нечетные цифры отрицательные: -1 2 -3 4 -5 6 -7 8
for v in my_array[4]:
    g += 1
    if g % 2 > 0:
        my_array[4][h] = -g
    else:
        my_array[4][h] = g
    h += 1

# 6. В шестой строке первые 4 числа 8, вторые четыре числа -8: 8 8 8 8 -8 -8 -8 -8
for u in my_array[5]:
    if i < 4:
        my_array[5][i] = 8
    else:
        my_array[5][i] = -8
    i += 1

# 7. В седьмой строке все нули: 0 0 0 0 0 0 0 0
for t in my_array[6]:
    my_array[6][j] = 0
    j += 1

# 8. В восьмой строке квадрат чисел от 1 до 8: 1 4 9 16 25 36 49 64
for s in my_array[7]:
    k = l ** 2
    my_array[7][l] = k
    l += 1
print(my_array)

[[  1   2   3   4   5   6   7   8]
 [  0   1   0   1   0   0   1   0]
 [100  97  94  91  88  85  82  79]
 [  1   2   4   8  16  32  64 128]
 [ -1   2  -3   4  -5   6  -7   8]
 [  8   8   8   8  -8  -8  -8  -8]
 [  0   0   0   0   0   0   0   0]
 [  0   1   4   9  16  25  36  49]]

Задание № 5

Попросите пользователя ввести его имя, фамилию и отчество, количество полных лет, день и месяц рождения.
Обработайте введенные данные и выведите на экран следующую информацию о пользователе:
ФИО: Иванов Иван Иванович
Дата рождения: 7 октября 1984 (воскресенье)
Знак зодиака: Весы
Год по восточному календарю: Крыса
Создайте пустой DataFrame и каждый раз после обработки пользовательских данных добавляйте полученную информацию в DataFrame и выводите обновленные данные. В результате у Вас должен получиться DataFrame приблизительно следующего содержания.
![image.png]()

P. S. Код должен быть уникальным и работать через произвольный период времени.
Баллы за задание: 20

In [0]:
import pandas as pd
import calendar
from datetime import date
from datetime import timedelta

# 1. Ввод данных о ФИО
first_name = input('Введите Ваше имя: ')
middle_name = input('Введите Ваше отчество: ')
last_name = input('Введите Вашу фамилию: ')

# 2. Ввод данных о дате рождения и количестве лет
age = input('Сколько вам полных лет? Напишите: ')
# 2.1 Проверка типа данных
while True:
    try:
        age = int(age)
    except:
        age = input('Это какой-то не возраст совсем. Напишите возраст целым числом: ')
        continue
    break

# 3. Ввод данных о месяце рождения
month_of_birth = input('В каком месяце Вы родились? Напишите: ')
'''
3.1 Проверка типа данных в переменной month_of_birth.
Необходимо дать пользователю возможность вводить для месяца как числа, так и слова для обозначения месяца.
При этом необходимо учесть, что он может написать его по разному.
Поэтому ниже создан словарь словоформ наименований месяцев, которые вероятно (и не очень) будет вводить пользователь.
'''
months_names_array = {
    'January':['Январь', 'Января', 'январь', 'Января', 'Янв', 'янв','Янва','янва','Январ','январ','jan','Jan','Январе','январе','январи','1','01'],
    'February':['Февраль','Февраля','Феврале','Февралем','Февралём','фев','февр','февра','феврал', 'февраль','февраля','феврале','февралем','февралём','фев','февр','февра','феврал','Feb','feb','Febr','febr','Febru','febru','Februa','februa','Februar','februar', 'February', 'february','феврали','2','02'],
    'March':['Март','Марта','Марте','Мартом','Мар','Mar','Marc','март','марта','марте','мартом','мар','mar','marc', 'March', 'march', 'марты','3','03'],
    'April':['Апрель','Апреля','Апреле','Апрелем','Апр','Апре','Апрел','Apr','Apri','April', 'апрель','апреля','апреле','апрелем','апр','апре','апрел','apr','apri','april','апрели','4','04'],
    'May':['Май','Мая','Мае','Маем','май','мая','мае','маем','May','may','маи','5','05'],
    'June':['Июнь','Июня','Июне','Июнем','Jun','June','июнь','июня','июне','июнем','jun','june','июни','6','06'],
    'July':['Июль','Июля','Июле','Июлем','Jul','July','Июл','июль','июля','июле','июлем','jul','july','июл','июли','7','07'],
    'August':['Август','Августа','Августе','Августом','Авг','Авгу','Авгус','Aug','Augu','Augus','August','август','августа','августе','августом','авг','авгу','авгус','aug','augu','augus','august','августы','8','08'],
    'September':['Сентябрь','Сентября','Сентябре','Сентябрем','Сентябрём','Сен','Сентя','Сентяб','Сентябр','Sep','Sept','Septe','Septem','Septemb','Septembe','September','сентябрь','сентября','сентябре','сентябрем','сентябрём','сен','сентя','сентяб','сентябр','sep','sept','septe','septem','septemb','septembe','september','сентябри','9','09'],
    'October':['Октябрь','Октября','Октябре','Октябрем','Октябрём','Окт','Октя','Октяб','Октябр','Oct','Octo','Octob','Octobe','October','октябрь','октября','октябре','октябрем','октябрём','окт','октя','октяб','октябр','oct','octo','octob','octobe','october','октябри','10','010'],
    'November':['Ноябрь','Ноября','Ноябре','Ноябрем','Ноябрём','Ноя','Нояб','Ноябр','Nov','Nove','Novem','Novemb','Novembe','November','ноябрь','ноября','ноябре','ноябрем','ноябрём','ноя','нояб','ноябр','nov','nove','novem','novemb','novembe','november','ноябри','11','011'],
    'December':['Декабрь','Декабря','Декабре','Декабрем','Декабрём','Дек','Дека','Декаб','Декабр','Dec','Dece','Decem','Decemb','Decembe','December','декабрь','декабря','декабре','декабрем','декабрём','дек','дека','декаб','декабр','dec','dece','decem','decemb','decembe','december','декабри','12','012']
}
result_list = ['января','февраля','марта','апреля','мая','июня','июля','августа','сентября','октября','ноября','декабря']
keys_list = list(months_names_array.keys())
try:
    temp_variable_1 = float(month_of_birth)
    month_of_birth_for_calendar = int(temp_variable_1)
    if month_of_birth_for_calendar > 12 or month_of_birth_for_calendar < 1:
        month_of_birth_for_calendar = month_of_birth_for_calendar + 'специальный вызов ошибки'
except:
    temp_variable_2 = 0
    while temp_variable_2 == 0:
        for z in keys_list:
                for i in months_names_array.get(z):
                    if i == month_of_birth:
                        month_of_birth_for_calendar = keys_list.index(z) + 1
                        month_of_birth = result_list[month_of_birth_for_calendar - 1]
                        temp_variable_2 = temp_variable_2 + 1
        if temp_variable_2 == 0:
            month_of_birth = input('Непонятно, что за месяц. Первый раз такой вижу :( Напишите месяц вашего рождения еще раз: ')

# 4. Ввод данных о дне рождения
day_of_birth = input('Введите день вашего рождения: ')

while True:
    try:
        day_of_birth = int(day_of_birth)
        if day_of_birth > 31 or day_of_birth < 1 or ((day_of_birth > 29) and (month_of_birth_for_calendar == 2)):
            day_of_birth = day_of_birth + 'специальный вызов ошибки'
    except:
        day_of_birth = input('Чет непонятно. Напишите день рождения целым числом: ')
        continue
    break
# day_of_birth = int(day_of_birth)

'''
5. Вычисление корректного года рождения пользователя. Правда если он ввел именно полное количество лет.
Дело в том, что простое вычитание возраста из даты в модуле Datetime не учитывает факт наступления
дня рождения пользователя в текущем году.
Так же при расчете необходимо учитывать количество високосных годов, прошедших с момента рождения пользователя
'''
today_value = date.today() # дата сегодня
temp_date = date(today_value.year, month_of_birth_for_calendar, day_of_birth) # временная дата с месяцем и днем рождения пользователя, но текущим годом
days_difference = today_value - temp_date # разница в днях с дня рождения и начала года
congratulations_text = ''
year_unit = timedelta(days = 365) # переменная с количеством дней в не високосном году
days_in_age = year_unit * age # количество дней в возрасте пользователя
year_of_birth_calculation = today_value - days_difference - days_in_age
total_days_in_leap_year = ((today_value.year - year_of_birth_calculation.year) - 1)/4 # вычисления количества дней прошлых високосных годов
if age % 4 > 0 and day_of_birth != 1: # проверка текущего года на високосность
    total_days_in_leap_year = total_days_in_leap_year + 1
date_of_birth = date(year_of_birth_calculation.year, year_of_birth_calculation.month, (year_of_birth_calculation.day - int(total_days_in_leap_year)))
year_of_birth = date_of_birth.year
# корректировка года рождения, если день рождения пользователя еще только будет
if today_value < date(today_value.year, month_of_birth_for_calendar, day_of_birth):
    year_of_birth = year_of_birth - 1
'''
6. Выявление наименования дня недели даты рождения, указанного пользователем
'''
day_number = calendar.weekday(year_of_birth, month_of_birth_for_calendar, day_of_birth)
name_of_day = calendar.day_name[day_number]
if name_of_day == 'Monday':
    name_of_day = 'понедельник'
elif name_of_day == 'Tuesday':
    name_of_day = 'вторник'
elif name_of_day == 'Wednesday':
    name_of_day = 'среда'
elif name_of_day == 'Thursday':
    name_of_day = 'четверг'
elif name_of_day == 'Friday':
    name_of_day = 'пятница'
elif name_of_day == 'Saturday':
    name_of_day = 'суббота'
elif name_of_day == 'Sunday':
    name_of_day = 'воскресенье'

'''
7. Приведение стороковых данных в виде чисел в переменной month_of_birth к int
и преобразование соответсвующее месяцу слово.
Далее вывод информации о пользователе
'''
try:
    temp_variable_3 = int(month_of_birth)
    month_of_birth = result_list[temp_variable_3 -1]
# Вывод информации о пользователе (если получается привести month_of_birth к int)
    print('\nФИО:', last_name, first_name, middle_name, '\nДата рождения:', day_of_birth, month_of_birth, year_of_birth, '({})'.format(name_of_day))
except:
# Вывод информации о пользователе (если не получается привести month_of_birth к int)
    print('\nФИО:', last_name, first_name, middle_name, '\nДата рождения:', day_of_birth, month_of_birth, year_of_birth,
          '({})'.format(name_of_day))

'''
8. Вывод информации о знаке зодиака с точностью до дней
'''
if (month_of_birth == 'января' and day_of_birth <= 19) or (month_of_birth == 'декабря' and day_of_birth >= 22):
    zodiac = 'Козерог'
elif (month_of_birth == 'февраля' and day_of_birth <= 18) or (month_of_birth == 'января' and day_of_birth >= 20):
    zodiac = 'Водолей'
elif (month_of_birth == 'марта' and day_of_birth <= 20) or (month_of_birth == 'февраля' and day_of_birth >= 19):
    zodiac = 'Рыбы'
elif (month_of_birth == 'апреля' and day_of_birth <= 19) or (month_of_birth == 'марта' and day_of_birth >= 21):
    zodiac = 'Овен'
elif (month_of_birth == 'мая' and day_of_birth <= 20) or (month_of_birth == 'апреля' and day_of_birth >= 20):
    zodiac = 'Телец'
elif (month_of_birth == 'июня' and day_of_birth <= 20) or (month_of_birth == 'мая' and day_of_birth >= 21):
    zodiac = 'Близнецы'
elif (month_of_birth == 'июля' and day_of_birth <= 22) or (month_of_birth == 'июня' and day_of_birth >= 21):
    zodiac = 'Рак'
elif (month_of_birth == 'августа' and day_of_birth <= 22) or (month_of_birth == 'июля' and day_of_birth >= 23):
    zodiac = 'Лев'
elif (month_of_birth == 'сентября' and day_of_birth <= 22) or (month_of_birth == 'августа' and day_of_birth >= 23):
    zodiac = 'Дева'
elif (month_of_birth == 'октября' and day_of_birth <= 22) or (month_of_birth == 'сентября' and day_of_birth >= 23):
    zodiac = 'Весы'
elif (month_of_birth == 'ноября' and day_of_birth <= 21) or (month_of_birth == 'октября' and day_of_birth >= 23):
    zodiac = 'Скорпион'
elif (month_of_birth == 'декабря' and day_of_birth <= 21) or (month_of_birth == 'ноября' and day_of_birth >= 22):
    zodiac = 'Стрелец'
print('Знак зодиака:', zodiac)

'''
9. Вывод информации о годе по восточному календарю
'''
easten_zodiac_names = ['Крыса','Бык','Тигр','Кролик','Дракон','Змея','Лошадь','Коза','Обезьяна','Петух','Собака','Кабан']
ez_1 = age // 12
ez_2 = 2020 - (ez_1 * 12)
ez_3 = ez_2 - year_of_birth
easten_zodiac_index = -ez_3
easten_zodiac = easten_zodiac_names[easten_zodiac_index]
print('Год по восточному календарю:',easten_zodiac)

'''
10. Создание пустого DataFrame и добавление информации о пользователях
'''
username = str(last_name + ' ' + first_name + ' ' + middle_name)
birthday = str(str(day_of_birth) + '.' + str(month_of_birth_for_calendar) + '.' + str(year_of_birth) + ' (' + name_of_day + ')')
columns = ['Ф.И.О', 'Дата рождения', 'Знак зодиака', 'Восточный календарь']
index = ['1']
try:
    df = pd.read_csv('df.csv', encoding='cp1251', names = columns, skiprows = 1)
    n = df.shape[0]
    df.loc[n + 1] = [username, birthday, zodiac, easten_zodiac]
    df.to_csv(path_or_buf='df.csv', encoding='cp1251')
except:
    df = pd.DataFrame([['', '', '', '']], columns=columns, index=index)
    n = df.shape[0]
    if df.shape[0] == 1:
        n = 0
    df.loc[n + 1] = [username, birthday, zodiac, easten_zodiac]
    df.drop(df.index[0], inplace=True)
    df.to_csv(path_or_buf='df.csv', encoding='cp1251')
df

Введите Ваше имя: Никита
Введите Ваше отчество: Александрович
Введите Вашу фамилию: Назаров
Сколько вам полных лет? Напишите: 29
В каком месяце Вы родились? Напишите: май
Введите день вашего рождения: 8

ФИО: Назаров Никита Александрович
Дата рождения: 8 мая 1991 (среда)
Знак зодиака: Телец
Год по восточному календарю: Коза

                          Ф.И.О  ... Восточный календарь
1          Иванов Иван Иванович  ...              Лошадь
2          Петров Петр Петрович  ...               Крыса
3  Назаров Никита Александрович  ...                Коза

[3 rows x 4 columns]